@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Author @ViewData["author"]</p>
<address>
    <strong>
        More information : 
    </strong>
    <a href="https://www.linkedin.com/in/alexandre-rogério-1276a9203/">LinkedIn</a>
</address>